 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Quicksand', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #f6f5fb;
     height: 100%;
     color: #333;
 }

 /* general classes */

 .is-visible {
     display: flex;
     flex-direction: column;
 }

 h1 {
     color: #32354F;
     font-size: 3rem;
     text-align: center;
     margin: 1em 0;
     text-transform: uppercase;
     font-weight: 700;
 }

 .entry-textbox {
     background-color: #fff;
     width: clamp(340px, 40vw, 50vw);
     height: 20em;
     padding: 1em 1.5em;
     border: unset;
     outline: none;
     border-radius: 5px;
     font-size: 1.5rem;
     font-weight: 400;
     font-family: 'Quicksand', sans-serif;
     color: #32354F;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 }

 ::placeholder {
     color: #32354F;
     font-family: 'Quicksand', sans-serif;
 }

 .form-button {
     display: block;
     margin-top: .7em;
     padding: 1em 2em;
     border: unset;
     border-radius: 5px;
     margin-left: calc(100% - 138px);
     background-color: #5468ff;
     font-size: 18px;
     font-weight: 600;
     color: rgb(239 239 239);
     font-family: 'Quicksand', sans-serif;
     text-transform: uppercase;
     cursor: pointer;
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
     transition: all .3s;
 }

 .form-button:hover {
     box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
 }

 section {
     display: none;
     width: clamp(340px, 70vw, 90vw);
     background-color: #eaeaf4;
     border-radius: 5px;
     border: 1px solid #e1e1e8;
     padding: 1.5em;
     margin: 2.5em 0;
     font-size: 1.6rem;
     font-weight: 200;
     word-break: break-all;
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
 }

 .entries-nav {
     padding: 0 0 1em;
 }

 .display-entry-button {
     margin: 0 1em 1em 0;
     background-color: #5665C0;
     color: #fff;
     padding: .7em 1.5em;
     border: unset;
     font-weight: 500;
     font-size: .95rem;
     letter-spacing: 1px;
     cursor: pointer;
     border-radius: 30px;
 }

 .single-entry {
     line-height: 1.7;
     font-weight: 400;
     font-family: 'Roboto Slab', serif;
 }

 .delete-btn {
     display: block;
     background-color: #eaeaf4;
     margin-top: 1em;
     padding: .5em 1em;
     border: 2px solid #5468ff;
     border-radius: 5px;
     color: #5468ff;
     font-size: 1rem;
     font-weight: 600;
     font-family: 'Quicksand', sans-serif;
     text-transform: uppercase;
     cursor: pointer;
     transition: all .5s;
 }

 .delete-btn:hover {
     background-color: #5468ff;
     color: #eaeaf4;
 }